.editText {
  width: 90%;
  margin-bottom: 20px;
}

.update-btn {
  margin-block: 15px;
  margin-right: auto;
}

@media (min-width: 760px) {
  .update-btn {
    margin-right: 0;
  }
}

.comment,
.replySection,
.addComment {
  background-color: $neutral-white;
  padding: 5px 20px;
  margin: 20px 0px;
  border-radius: 10px;
  line-height: 26px;
  max-width: 450px;
}

.userInfo,
.commentRate,
.commentInfo,
.sendInfo,
.reply {
  display: flex;
}

.reply {
  max-width: 750px;
}

.userInfo {
  justify-content: start;
  align-items: center;
  gap: 10px;
}

@media (min-width: 760px) {
  .userInfo {
    gap: 20px;
  }
}

.userPicture,
.authorLogo {
  max-width: 10%;
}

.userName,
.commentInfo,
.replyEditedComment {
  font-weight: 500;
}

.commentDate {
  color: $neutral-grayish-blue;
}

.commentMessage {
  color: $neutral-grayish-blue;
}

.commentInfo {
  align-items: center;
  margin-bottom: 10px;
}

.commentRate {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  column-gap: 20px;
  color: $primary-moderate-blue;
  background-color: $neutral-light-gray;
  border-radius: 10px;
  padding: 0px 7px;
  height: 45px;

  img {
    cursor: pointer;
  }
}

@media (max-width: 345px) {
  .commentRate {
    column-gap: 10px;
  }
}

.editComment {
  margin-left: auto;

  & > * {
    cursor: pointer;
  }

  span {
    margin-left: 5px;
    &:hover {
      opacity: 0.6;
    }
  }

  img {
    margin-left: 20px;
    &:hover {
      opacity: 0.6;
    }
  }
}

.replyEditedComment {
  color: $primary-moderate-blue;
}

.editComment-edit {
  color: $primary-moderate-blue;
}

.deleteEditedComment {
  color: $primary-soft-red;
}

.replySection {
  padding: 5px 0;
  margin: 10px 0;
  max-width: 320px;
}

.reply-divider {
  margin-left: 2.5rem;
  margin-right: 2rem;
  border: 0.1px solid $primary-light-grayish-blue;
}

.addComment {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  width: 100%;
  padding: 20px;
}

.commentRate-column {
  display: none;
}

.sendInfo {
  align-items: center;
  justify-content: center;
}

.mention {
  font-weight: 500;
  color: $primary-moderate-blue;
}

.myCard {
  color: $neutral-white;
  background-color: $primary-moderate-blue;
  padding: 1px 5px;
  border-radius: 4px;
}

@media (min-width: 760px) {
  .comment,
  .replySection,
  .addComment {
    max-width: 750px;
  }

  .addComment {
    flex-direction: row;
    align-items: start;
    gap: 10px;
  }

  .userPicture,
  .authorLogo {
    max-width: 7%;
  }

  .commentRate-column {
    display: flex;
    flex-direction: column;
    gap: 5px;
    padding: 40px 15px;
    margin-right: 20px;
    font-weight: 500;
  }
}

@media (max-width: 760px) {
  .reply-divider {
    margin-left: 1rem;
    margin-right: 1.5rem;
  }

  .replySection {
    max-width: max-content;
  }
}
