header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 90%;
  margin: 50px 0 25px;

  h1 {
    text-transform: uppercase;
    color: #fff;
    font-size: 2.5rem;
    letter-spacing: 12px;
  }

  .theme-btn {
    padding: 7px 7px 5px;
    margin-right: -7px;
    background: none;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: 1s;
    outline: none;
  }
}

@media (min-width: 38em) {
  header {
    margin: 70px 0 40px;
    width: 550px;
  }
}
