.faq {
  .heading {
    h1 {
      font-size: 2.2rem !important;
    }

    p {
      font-size: 1.1rem !important;
    }
  }
  .faqContent {
    max-width: 40rem;
    margin: 0 auto;

    .accordion-header {
      button {
        &:hover {
          color: $soft-red;
        }
      }
    }

    .accordion-item {
      border-left: none;
      border-right: none;

      .accordion-button,
      &:focus {
        background: transparent;
        outline: none;
        border: none;
      }

      &::after {
        color: red;
      }

      .accordion-button:not(.collapsed) {
        color: $dark-blue;
      }
    }
  }

  .btn {
    background: $soft-blue;
    color: $white;

    &:hover {
      background: transparent;
      border: 1px solid $soft-blue;
      color: $soft-blue;
    }
  }
}
