@import url('https://fonts.googleapis.com/css2?family=Fraunces:opsz,wght@9..144,700&family=Montserrat:wght@500;700&display=swap');

$DarkCyan: hsl(158, 36%, 37%);
$Cream: hsl(30, 38%, 92%);
$blue: hsl(212, 21%, 14%);
$grayishBlue: hsl(228, 12%, 48%);
$White: hsl(0, 0%, 100%);
