* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: $font-stack;
  font-size: 1.2rem;
  font-weight: 300;
  line-height: 1.5;
  color: $soft-blue;
}

a {
  font-weight: 300;
  text-decoration: none;
  color: #fff;
  transition: 0.3s ease;

  &:hover {
    color: $cyan;
  }
}

img {
  width: 100%;
}

h1,
h2,
h3,
h4 {
  font-weight: 600;
  line-height: normal;
  color: #fff;
  letter-spacing: 1px;
}
