$mainBG: hsl(217, 54%, 11%);
$cardBG: hsl(216, 50%, 16%);
$line: hsl(215, 32%, 27%);
$White: hsl(0, 0%, 100%);

$soft-blue: hsl(215, 51%, 70%);
$cyan: hsl(178, 100%, 50%);

$font-stack: 'Outfit', sans-serif;

$card-width: 380px;

$br-10: 10px;
$br-15: 15px;
