@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Text:wght@700&display=swap');

$fontFamily: 'Red Hat Text', sans-serif;
$White: hsl(0, 0%, 100%);
$desaturatedBlue: hsl(236, 21%, 26%);
$darkBlue: hsl(235, 16%, 14%);
$dark: hsl(234, 17%, 12%);
$GrayishBlue: hsl(237, 18%, 59%);
$SoftRed: hsl(345, 95%, 68%);
