.feature{
    background-color: $lightGrayishBlue;
    text-align: center;

    @include breakpoints-up(medium){
        text-align: left;
    }

    &__intro{
        margin-bottom: 3.75rem;

        @include breakpoints-up(large){
            width: 60%;
        }
    }

    &__grid{

        @include breakpoints-up(medium){
            display: flex;
            flex-wrap: wrap;
        }
    }

    &__item{
        padding: 0.9375rem;

        @include breakpoints-up(medium){
            flex: 0 0 50%;
        }

        @include breakpoints-up(large){
            flex: 1;
        }
    }

    &__icon{
        margin-bottom: 1.875rem;

        @include breakpoints-up(large){
            margin-bottom: 2.75rem;
        }
    }

    &__title{
        font-size: 1.25rem;
        font-weight: 300;
        color: $darkBlue;
        line-height: 1.15;
        margin-bottom: 1rem;

        @include breakpoints-up(large){
            font-size: 1.5rem;
            margin-bottom: 2.215rem;
        }
    }

    &__description{
        font-size: 0.875rem;
        line-height: 1.5;
    }
}