.countDown {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 6rem;
  margin-bottom: 22vh;
}

@media screen and (max-width: 460px) {
  .countDown {
    margin-top: 2rem;
    margin-bottom: 30vh;
  }
}
