html::-webkit-scrollbar {
  width: 0px; /* For Chrome, Safari, and Opera */
}

html:focus-within {
  scroll-behavior: smooth;
}

html {
  scrollbar-width: none; /* For Firefox */
  -ms-overflow-style: none; /* For Internet Explorer and Edge */
  scroll-behavior: smooth;
  overflow-x: hidden;
}

body {
  background: $main-bg;
  color: $white;
  font-size: 0.875rem;
  font-family: 'Open-sans reg', sans-serif;
  line-height: 1.5;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

img {
  max-width: 100%;
  max-height: 100%;
}

ul,
li {
  list-style-type: none;
}

a {
  color: #fff;
  text-decoration: none;
  cursor: pointer;
}

.container {
  width: 100%;
  max-width: 1240px;
  margin-left: auto;
  margin-right: auto;
  padding: 20px 25px;
}

h1,
h2,
h3,
h4,
h5,
h6,
.btn,
.btn__underline,
.nav__link {
  font-family: 'Raleway';
}

h1,
h2,
h3,
h4,
h5,
h6 {
  line-height: 1.3;
}

.grid {
  display: grid;
  grid-gap: 40px;
}

.wrap {
  display: grid;
  grid-gap: 20px;
}

.btn {
  display: inline-block;
  font-size: 1rem;
  padding: 0.75em 6em;
  background: linear-gradient(90deg, #65e2d9 0%, #339ecc 100%);
  border-radius: 100px;
  transition: background 250ms ease;
  position: relative;
  z-index: 1;
  border: none;
  outline: none;
}

.btn::after {
  position: absolute;
  content: '';
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: $cyan;
  z-index: -1;
  opacity: 0;
  transition: opacity 250ms ease;
  border-radius: 100px;
}

.btn:hover::after,
.btn:active::after {
  opacity: 1;
}
