.main {
  .intro {
    background-color: $intro;
    background-size: auto;
    text-align: center;
    position: relative;
    z-index: 1;
    padding-top: 40px;

    &::after {
      content: '';
      position: absolute;
      width: 100%;
      height: 100%;
      bottom: 0;
      left: 0;
      right: 0;
      top: 0;
      background-image: url('../../assets/images/bg-curvy-mobile.svg');
      background-position: bottom;
      background-repeat: no-repeat;
      background-size: contain;
      z-index: -1;
    }

    .introContentHeading {
      font-size: 2rem;
      max-width: 30ch;
      margin-left: auto;
      margin-right: auto;
      font-weight: 700;
    }
  }
}

.contentWrapper {
  display: grid;
  grid-gap: 40px;

  .introContentDetails {
    font-size: 1.2em;
    text-align: center;
    max-width: 35ch;
    margin-left: auto;
    margin-right: auto;
  }

  .cta {
    text-align: center;
  }
}

@media screen and (min-width: 1000px) {
  .main {
    background-color: $intro;
    background-size: auto;
    text-align: center;
    position: relative;
    z-index: 1;
    padding-top: 40px;

    &::after {
      content: '';
      position: absolute;
      width: 100%;
      height: 100%;
      bottom: 0;
      left: 0;
      right: 0;
      top: 0;
      background-image: url('../../assets/images/bg-curvy-desktop.svg');
      background-position: bottom left;
      background-repeat: no-repeat;
      background-size: contain;
      z-index: -1;
    }

    .intro {
      background: none;
      position: static;

      &::after {
        background-image: none;
      }
    }

    .introContentDetails {
      max-width: 54ch !important;
    }
  }
}
