@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap');

$Orange: hsl(26, 100%, 55%);
$PaleOrange: hsl(25, 100%, 94%);
$blue: hsl(220, 13%, 13%);
$darkGrayishBlue: hsl(219, 9%, 45%);
$GrayishBlue: hsl(220, 14%, 75%);
$LightGrayishBlue: hsl(223, 64%, 98%);

$white: hsl(0, 0%, 100%);
$black: hsl(0, 0%, 0%);

$font-primary: 'Kumbh Sans', sans-serif;

/* Font size */
$fs-800: 2.75rem;
$fs-700: 1.75rem;
$fs-400: 1rem;
$fs-300: 0.9375rem;
$fs-100: 0.8125rem;

/* Font-weight */
$fw-400: 400;
$fw-700: 700;
