$moderateViolet: hsl(263, 55%, 52%);
$darkGrayishBlue: hsl(217, 19%, 35%);
$darkBlackishBlue: hsl(219, 29%, 14%);
$White: hsl(0, 0%, 100%);
$Lightgray: hsl(0, 0%, 81%);
$LightGrayishBlue: hsl(210, 46%, 95%);
