.Wrapper {
  padding: 2.22em 2.78em;
  border-radius: 0.5em;
  @include FlexCenter;
  margin-bottom: 1.67em;
  animation: fadeUp 0.2s $timing-cubic forwards;

  &:last-of-type {
    margin-bottom: 0;
  }

  @media screen and (max-width: 1000px) {
    align-items: flex-end;
  }

  @media screen and (max-width: 789px) {
    flex-direction: column;
    align-items: flex-start;
    padding: 1.67em;
    margin-bottom: 2.78em;
  }

  .Column {
    @include FlexCenter;
    flex-wrap: wrap;
    height: 100%;

    @media screen and (max-width: 1000px) {
      &:last-of-type {
        justify-content: flex-end;
      }
    }

    @media screen and (max-width: 789px) {
      &:last-of-type {
        justify-content: flex-start;
        margin-top: 1.39em;
        padding-top: 0.56em;
        border-top: 0.07em solid $very-dark-grayish-cyan;
      }
    }

    .CompanyLogo {
      width: 6.11em;
      height: 6.11em;
      border-radius: 100vw;

      @media screen and (max-width: 789px) {
        width: 3.33em;
        height: 3.33em;
        margin-top: -3.4em;
      }
    }

    .CompanyInfoWrapper {
      margin-left: 1.67em;

      @media screen and (max-width: 1000px) {
        margin-left: 0;
        margin-top: 1.67em;
        width: 100%;
      }

      @media screen and (max-width: 789px) {
        margin-top: 1.11em;
      }

      .Job {
        padding: 0.69em 0.69em 0.42em;

        color: white;
        border-radius: 100vw;
        margin-left: 1.11em;
        text-transform: uppercase;
        font-size: 0.69em;
        font-weight: $fw-bold;
        cursor: pointer;

        @media screen and (max-width: 789px) {
          font-size: 0.56em;
        }
      }
      .NewJob {
        background: $desaturated-dark-cyan;
      }

      .FeaturedJob {
        background: $very-dark-grayish-cyan;
      }

      .CompanyName {
        font-size: $fs-global;
        font-weight: $fw-bold;
        color: $desaturated-dark-cyan;
        display: inline;

        @media screen and (max-width: 789px) {
          font-size: 0.83em;
        }
      }

      .JobTitle {
        margin: 0.8em 0 0.6em;
        @include Transition;
        cursor: pointer;

        &:hover {
          color: $desaturated-dark-cyan;
        }

        @media screen and (max-width: 789px) {
          font-size: 0.97em;
          margin: 0.8em 0;
        }
      }

      .MetaInfoWrapper {
        @include FlexCenter;

        @media screen and (max-width: 1000px) {
          width: 85%;
        }

        @media screen and (max-width: 789px) {
          width: 90%;
        }

        .MetaInfo {
          color: $dark-grayish-cyan;
          font-size: 0.97em;

          @media screen and (max-width: 789px) {
            font-size: 12px;
          }
        }

        .MetaInfoDot {
          width: 0.2em;
          height: 0.2em;
          margin: 0 0.8em;
          border-radius: 100vw;
          background: $dark-grayish-cyan;
        }
      }
    }

    .Skill {
      font-size: $fs-global;

      padding: 0.56em;
      margin-left: 0.56em;
      border-radius: 0.3em;
      outline: none;
      border: none;
      font-weight: $fw-bold;
      @include Transition;
      cursor: pointer;

      &:hover {
        color: white;
      }

      @media screen and (max-width: 1000px) {
        margin: 0.56em 0.56em 0;
      }

      @media screen and (max-width: 789px) {
        margin: 1.11em 1.11em 0 0;
        font-size: 0.83em;
      }
    }
  }
}
