.qrCode {
  max-width: 340px;
  background-color: $White;
  padding: 1.2rem;
  border-radius: 20px;
  box-shadow: rgba(149, 157, 165, 0.3) 0px 8px 24px 4px;

  img {
    border-radius: 10px;
  }

  .qrCodeContent {
    padding: 1rem;
    text-align: center;

    h1 {
      font-size: 1.4rem;
      font-weight: bold;
      margin-bottom: 1rem;
    }
  }
}

footer {
  .attribution {
    display: block;
    position: fixed;
    right: 1rem;
    background-image: url('../../images/faha1999.webp');
    background-size: 100%;
    height: 3rem;
    width: 3rem;
    border-radius: 100%;
    z-index: 99;
    padding: 1rem;
    border: 1px solid hsl(233, 11%, 84%);
    bottom: 1rem;

    p {
      visibility: hidden;
      position: fixed;
      bottom: 3rem;
      right: 5rem;
      width: 12.5rem;
      padding: 0.5rem 1rem;
      border-radius: 0 1rem;
      font-size: 0.6rem;
      text-align: left;
      letter-spacing: 0.2rem;
      z-index: 999;
      box-shadow: 0 0 0.4rem rgba(0, 0, 0, 0.5);
      transform: rotateX(90deg);
      transition: 0.8s cubic-bezier(0.06, 0.8, 0.1, 1);
      line-height: 1rem;

      a {
        color: hsl(220, 98%, 61%);

        &:hover {
          opacity: 0.7;
        }
      }
    }

    &:hover p {
      visibility: visible;
      transform: rotateX(0);
      background: $White;
    }
  }
}
