.card {
  margin: 0 1rem;

  &:first-child {
    margin-left: 0;
  }

  &:last-child {
    margin-right: 0;
  }

  .number {
    display: block;
    position: relative;
    min-width: 11rem;
    padding: 1.5rem 0.8rem;
    margin-bottom: 1.5rem;
    font-size: 6rem;
    background-color: $desaturatedBlue;
    color: $SoftRed;
    letter-spacing: normal;
    border-radius: 0.5rem;
    box-shadow: 0 0.65rem $dark;
    overflow: hidden;

    .topNumber {
      position: absolute;
      width: 100%;
      height: 50%;
      inset: 0;
      background-color: rgba(0, 0, 0, 0.2);
      transition: 0.8s;

      &::before,
      &::after {
        content: '';
        position: absolute;
        right: -0.5rem;
        bottom: -0.5rem;
        background-color: $dark;
        width: 1rem;
        height: 1rem;
        border-radius: 1rem;
      }

      ::after {
        left: -0.5rem;
      }
    }
  }

  p {
    text-transform: uppercase;
  }
}

@media screen and (max-width: 1000px) {
  .card {
    .number {
      min-width: auto;
      padding: 1rem 0.5rem;
      font-size: 3rem;

      &::before,
      &::after {
        bottom: -0.25rem;
        right: -0.25rem;
        width: 0.5rem;
        height: 0.5rem;
      }
      &::after {
        left: -0.25rem;
      }
    }
  }
}
@media screen and (max-width: 480px) {
  .card {
    margin: 0 1rem 0 0;

    &:last-child {
      margin-right: 0;
    }
    p {
      font-size: 0.6rem;
    }

    .number {
      min-width: auto;
      padding: 1rem 0.5rem;
      font-size: 2rem;
      box-shadow: 0 0.4rem $dark;
    }
  }
}
