@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300;400;600;700;800&display=swap');

// colors
$dark-blue: hsl(209, 23%, 22%);
$very-dark-blue-background: hsl(207, 26%, 17%);
$very-dark-blue: hsl(200, 15%, 8%);
$very-light-gray: hsl(0, 0%, 98%);
$dark-gray: hsl(0, 0%, 52%);
$white: hsl(0, 0%, 100%);

// typography

$fs-home: 14px;
$fs-details: 16px;

$fw-regular: 300;
$fw-medium: 600;
$fw-bold: 800;
